package views

templ Card(title string, attrs templ.Attributes) {
	<div
		{ attrs ... }
		class="bg-white shadow-sm rounded-xl border border-gray-200 overflow-hidden mb-6"
	>
		if title != "" {
			<div class="px-6 pt-6">
				<h2 class="text-lg font-semibold text-gray-900">
					{ title }
				</h2>
			</div>
		}
		<div class="px-6 py-4">
			{ children... }
		</div>
	</div>
}
